/* Flash message style after login */
.login-message {
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: rgb(46, 133, 192);
}

/* Flash message style for all errors */
.all-errors-messages {
    font-size: 20px;
    text-align: center;
    color: tomato;
    background-color: lightgray;
}


nav .navbar-brand {
    font-size: 25px;
    color: rgb(175, 175, 175);
    /* font-weight: bold; */
}

/* Style when mouse hovers over */
nav .navbar-brand:hover {
    color: rgb(49, 39, 131);
}

.navbar-brand.logout{
    font-size: 20px; 
    color: grey;
    font-style: italic;
    font-weight: bold;
}


/* Style when mouse hovers over "logout" */
nav .navbar-brand.logout:hover {
    color: tomato;
} 

/* Style of the registration and login buttons */
.navbar-brand.registerlogin{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}


nav .bg-light-gray {
    background-color: lightgray;
}

.body_layout {
    background-color: #ede5d9;
}

.inputsForms {
    background-color: rgb(46, 133, 192);
}

.exportTableToExcelButton{
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: green;
    border: none;
    border-radius: 10px; /* Round button vertices */
}


/* create click effect */
.exportTableToExcelButton:active {
    background-color: #3e8e41;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.delet_edit_bttn {
    border: none;
    border-radius: 10px; /* Round button vertices */
}


.bg-darkblue{
    background-color: rgb(49, 39, 131);
}

/* Tables */
 /* INPUT TABLES */
 /* ENSURE THE AVAILABILITY OF VARIOUS FONTS, DEPENDING ON THE BROWSER */
#input_tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#input_tables td, #input_tables th {
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

#input_tables th {
    font-size: 20px;
    color: rgb(49, 39, 131);
}
  
#input_tables td {
    font-size: 15px;
    color: black;
  } 
    
#input_tables tr:hover td {
    background-color: lightcyan;
}
  

/* OUTPUT TABLES - HISTORY AND MIRR TABLES */
#output_tables_titles{
    font-size: 20px;
}

#output_tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#output_tables td, #output_tables th {
    border: 1px solid grey;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
  }

  #output_tables th {
    font-size: 14px;
    color: white;
    background-color: gray;
}
  
  #output_tables td {
    font-size: 12px;
    color: black;
  } 
  
#output_tables tr:nth-child(even){
    background-color: lightgray;
}
  
#output_tables tr:hover td {
    background-color: lightcyan;
}
  