{% extends "layout.html" %}

{% block title %}
LER
{% endblock %}

{% block main %}
<br>
<p class="display-6 text-center"> INSERIR NOVO CÓDIGO LER</p>
<br>
<form action="/codler_description" method="post">
    <div class="row justify-content-center">
        <div class="col-auto">
            <input autocomplete="off" autofocus class="form-control text-center mx-auto" style="width: 310px; background-color: rgba(20, 125, 155, 0.5)" name="codLER" placeholder="LER (no formato XX XX XX ou XXXXXX)" type="text">
        </div>
        <div class="col-auto">
            <input autocomplete="off" class="form-control text-center mx-auto w-auto" style="background-color: rgba(20, 125, 155, 0.5)" name="description" placeholder="Descrição LER" type="text">
        </div>
    </div>
    <br>
    <button class="form-control text-white fw-bold mx-auto w-auto bg-primary" type="submit">Gravar</button>
    <br>
</form>

<table style="width:100%">
    <thead>
        <tr>
            <th>Código LER</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for row in all_codLER %}
        <tr>
            <td>{{ row.codLER }}</td>
            <td>{{ row.description }}</td>
            <td>
                <button class="delet_edit_bttn" style="background-color: tomato; color: whitesmoke" onclick="showConfirmDelete('{{ row.codLER }}')">Apagar</button>
                <form id="deleteLER{{ row.codLER }}" action="/delete" method="post" style="display: none;">
                    <div>
                        <input name="codLER" type="hidden" value="{{ row.codLER }}">
                    </div>
                    <br>
                    <p class="fw-bold text-danger text-center mx-auto"> Atenção, a ação será irreversível! </p>
                    <div>
                        <button class="form-control text-white fw-bold mx-auto w-auto bg-success" type="submit"> Confirmar </button>
                    </div>
                    <br>
                    <div>
                        <button type="button" class="form-control text-white fw-bold mx-auto w-auto bg-danger"  onclick="hideConfirmDelete('{{ row.codLER }}')"> Cancelar </button>
                    </div>
                    <br>
                </form>
            </td>
            <td>
                <button class="delet_edit_bttn" style="background-color: lightblue; color: black" onclick="showEditForm('{{ row.codLER }}')">Editar</button>
                <form id="showForm{{ row.codLER }}" action="/edit_codler_description" method="post" style="display: none;">
                    <div>
                        <input name="antigo_codLER" value="{{ row.codLER }}" type = "hidden">
                    </div>
                    <br>
                    <div>
                        <input name="novo_codLER" class="form-control text-center mx-auto" style="background-color: lightgrey; color: black"  value="{{ row.codLER }}" type = "text">
                    </div>
                    <div>
                        <input name="nova_descrição" class="form-control text-center mx-auto" style="background-color: lightgrey; color: black"  value="{{ row.description }}" type = "text">
                    </div>
                    <br>
                    <button class="form-control text-white fw-bold mx-auto w-auto bg-primary" type="submit">Aplicar alterações</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function showConfirmDelete(codLER){
        var rowForDeleting = "deleteLER" + codLER;
        var deletingForm = document.getElementById(rowForDeleting);
        if (deletingForm) {
            deletingForm.style.display = deletingForm.style.display === 'none' ? 'block' : 'none';
        }
    }

    function hideConfirmDelete(codLER){
        document.getElementById("deleteLER" + codLER).style.display = 'none';

    }

    function showEditForm(codLER) {
        var rowForEdition = 'showForm' + codLER;
        var editingForm = document.getElementById(rowForEdition);
        if (editingForm) {
            editingForm.style.display = editingForm.style.display === 'none' ? 'block' : 'none';
        }
    }
</script>

{% endblock %}