{% extends "layout.html" %}

{% block title %}
LER
{% endblock %}

{% block main %}
<h2>Inserir novo código LER</h2>
<form action="/codler_description" method="post">
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="codLER" placeholder="LER (no formato XX XX XX ou XXXXXX)" type="text">
    </div>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="description" placeholder="Descrição LER" type="text">
    </div>
    <button type="submit">Gravar</button>
</form>

<h2>Códigos LER inseridos</h2>
<table style="width:100%">
    <thead>
        <tr>
            <th>Código LER</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for row in all_codLER %}
        <tr>
            <td>{{ row.codLER }}</td>
            <td>{{ row.description }}</td>
            <td>
                <button class="delete_button" onclick="showConfirmDelete('{{ row.codLER }}')">Apagar</button>
                <form id="deleteLER{{ row.codLER }}" action="/delete" method="post" style="display: none;">
                    <div>
                        <input name="codLER" type="hidden" value="{{ row.codLER }}">
                    </div>
                    <p> A ação será irreversível </p>
                    <div>
                        <button type="submit"> Confirmar </button>
                    </div>
                    <div>
                        <button type="button" onclick="hideConfirmDelete('{{ row.codLER }}')"> Cancelar </button>
                    </div>
                </form>
            </td>
            <td>
                <button class="edit_button" onclick="showEditForm('{{ row.codLER }}')">Editar</button>
                <form id="showForm{{ row.codLER }}" action="/edit_codler_description" method="post" style="display: none;">
                    <div>
                        <input name="antigo_codLER" value="{{ row.codLER }}" type = "hidden">
                    </div>
                    <div>
                        <input name="novo_codLER" value="{{ row.codLER }}" type = "text">
                    </div>
                    <div>
                        <input name="nova_descrição" value="{{ row.description }}" type = "text">
                    </div>
                    <button type="submit">Aplicar alterações</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function showConfirmDelete(codLER){
        var rowForDeleting = "deleteLER" + codLER;
        var deletingForm = document.getElementById(rowForDeleting);
        if (deletingForm) {
            deletingForm.style.display = deletingForm.style.display === 'none' ? 'block' : 'none';
        }
    }

    function hideConfirmDelete(codLER){
        document.getElementById("deleteLER" + codLER).style.display = 'none';

    }

    function showEditForm(codLER) {
        var rowForEdition = 'showForm' + codLER;
        var editingForm = document.getElementById(rowForEdition);
        if (editingForm) {
            editingForm.style.display = editingForm.style.display === 'none' ? 'block' : 'none';
        }
    }
</script>

{% endblock %}