{% extends "layout.html" %}

{% block title %}
Confirmation Add Cash
{% endblock %}

{% block main %}
<h1>CONFIRMATION</h1>
<h3>Please enter the code that was sent by text message</h3>
    <form action="/confadd" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="confirmation_code" placeholder="Code" type="number">
        </div>
        <div style="display:none;">
            <input type="hidden" name="random_code" value="{{random_code}}">
        </div>
        <button class="btn btn-primary" type="submit">Confirm</button>
    </form>
{% endblock %}
