{% extends "layout.html" %}

{% block title %}
Estabelecimentos
{% endblock %}

{% block main %}
<br>
<p class="display-6 text-center"> INSERIR ESTABELECIMENTO APA</p>
<br>
<form action="/establishments" method="post">
    <div class="row justify-content-center">
        <div class="col-auto">
            <input autocomplete="off" autofocus class="form-control text-center mx-auto" style="width: 310px; background-color: rgb(46, 133, 192)" name="apa_code" placeholder="Código APA: APAXXXXXXXX ou GT"
                type="text">
        </div>
        <div class="col-auto">
            <input autocomplete="off" class="form-control text-center mx-auto" style="width: 700px; background-color:  rgb(46, 133, 192)" name="nome_estab" placeholder="Designação completa" type="text">
        </div>
        <div class="col-auto">
            <input autocomplete="off" class="form-control text-center mx-auto w-auto" style ="background-color:  rgb(46, 133, 192)" name="nome_estab_curto" placeholder="Designação curta" type="text">
        </div>
    </div>
    <br>
    <button class="form-control text-white fw-bold mx-auto w-auto" style="background-color: rgb(49,39,131);" type="submit">Gravar</button>
    <br>
</form>
<br>

<table id="input_tables" style="width:100%">
    <thead>
        <tr>
            <th>APA do estabelecimento</th>
            <th>Nome completo</th>
            <th>Nome curto</th>
        </tr>
    </thead>
    <tbody>
        {% for row in all_estab %}
        <tr>
            <td>{{ row.apa_code }}</td>
            <td>{{ row.contract_full }}</td>
            <td>{{ row.contract_short }}</td>
            <td>
                <button class="delet_edit_bttn" style="background-color: tomato; color: whitesmoke" onclick="showConfirmDelete('{{ row.id }}')">Apagar</button>
                <form id="deleteEstab{{ row.id }}" action="/delete" method="post" style="display: none;">
                    <div>
                        <input name="row_id_estab" type="hidden" value="{{ row.id }}">
                    </div>
                    <br>
                    <p class="fw-bold text-danger text-center mx-auto"> Atenção, a ação será irreversível! </p>
                    <div>
                        <button type="submit" class="form-control text-white fw-bold text-center mx-auto bg-success">Confirmar</button>
                    </div>
                    <br>
                    <div>
                        <button type="button" class="form-control text-white fw-bold text-center mx-auto bg-danger" onclick="hideConfirmDelete('{{ row.id }}')"> Cancelar </button>
                    </div>
                    <br>
                </form>
            </td>
            <td>
                <button class="delet_edit_bttn" style="background-color: rgb(46, 133, 192); color: white" onclick="showEditForm('{{ row.apa_code }}')">Editar</button>
                <form id="showForm{{ row.apa_code }}" action="/edit_establishments" method="post" style="display: none;">
                    <div>
                        <input name="antigo_apa" type="hidden" value="{{ row.apa_code }}">
                    </div>
                    <div>
                        <input name="antiga_design_longa" type="hidden" value="{{ row.contract_full }}">
                    </div>
                    <div>
                        <input name="antiga_design_curta" type="hidden" value="{{ row.contract_short }}">
                    </div>
                    <br>
                    <div>
                        <input name="novo_apa" class="form-control text-center mx-auto" style="background-color: lightgrey; color: black" value="{{ row.apa_code }}" type = "text">
                    </div>
                    <div>
                        <input name="nova_design_longa" class="form-control text-center mx-auto" style="background-color: lightgrey; color: black" value="{{ row.contract_full }}" type = "text">
                    </div>
                    <div>
                        <input name="nova_design_curta" class="form-control text-center mx-auto" style="background-color: lightgrey; color: black" value="{{ row.contract_short }}" type = "text">
                    </div>
                    <br>
                    <button class="form-control text-white fw-bold mx-auto w-auto" style="background-color: rgb(49,39,131);" type="submit">Aplicar alterações</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function showConfirmDelete(rowId) {
        var rowForDeleting = "deleteEstab" + rowId;
        var deletingForm = document.getElementById(rowForDeleting);
        if (deletingForm) {
            deletingForm.style.display = deletingForm.style.display === 'none' ? 'block' : 'none';
        }
    }

    function hideConfirmDelete(rowId) {
        document.getElementById('deleteEstab' + rowId).style.display = 'none';
    }

    function showEditForm(apa_code) {
        var rowForEdition = 'showForm' + apa_code;
        var editingForm = document.getElementById(rowForEdition);
        if (editingForm) {
            editingForm.style.display = editingForm.style.display === 'none' ? 'block' : 'none';
        }
    }
</script>

{% endblock %}