{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}

<table style="width:100%">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {% for each_row in user_transactions %}
        <tr>
            <td>{{ each_row.symbol }}</td>
            <td>{{ each_row.total_shares }}</td>
            <td>{{ each_row.price | usd }}</td>
            <td>{{ each_row.total_value | usd }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <th class="noir">Cash</th>
            <td class="noir">{{ current_cash | usd }}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <th class="noir">TOTAL</th>
            <td class="noir">{{ grand_total | usd }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
