{% extends "layout.html" %}

{% block title %}
Insert
{% endblock %}

{% block main %}
<h2>Inserir e-GAR's</h2>
<form action="/insert" method="post">
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="data" placeholder="ano-mês-dia"
            type="date">
    </div>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="egar" placeholder="número e-GAR"
            type="text">
    </div>
    <div>
        <select name="obra">
            {% for obra in obras %}
            <option value="{{obra}}">{{obra}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="transp"
            placeholder="nome transportador" type="text">
    </div>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="nif_transp"
            placeholder="NIF transportador" type="number" min="99999999" max="999999999">
    </div>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="matricula" placeholder="matrícula"
            type="text">
    </div>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="apa_transp"
            placeholder="APA transportador" type="text">
    </div>
    <div>
        <select name="codLER">
            {% for codLER in todos_codLer %}
            <option value="{{codLER}}">{{codLER}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="ton" placeholder="qtd(ton.)"
            type="number" min="0.001" step="0.001">
    </div>
    <div>
        <select name="dest_final">
            {% for dest_final in dest_finais %}
            <option value="{{dest_final}}">{{dest_final}}</option>
            {% endfor %}
        </select>
    </div>    
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="dest"
            placeholder="nome destinatário" type="text">
    </div>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="nif_dest"
            placeholder="NIF destinatário" type="number" min="99999999" max="999999999">
    </div>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="apa_dest"
            placeholder="APA destinatário" type="text">
    </div>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="produtor"
        placeholder="Produtor do resíduo" value ="Produtor Tecnorém "type="text">
    </div> 
    <button type="submit">Submeter</button>
</form>
{% endblock %}