{% extends "layout.html" %}

{% block title %}
MIRR
{% endblock %}

{% block main %}
<br>
<p class="display-6 text-center"> MIRR </p>
<br>
<div class="row justify-content-center">
    <button id="exportTableButton" class="exportTableToExcelButton" style="width: 250px" onClick = "exportTableToExcel()"> Exportar para Excel </button>
</div>
<br>


<h3>Filtrar</h3>
<form action="/mirr" method="post">
    <div class="col-auto">
        <div class="form-group">
            <label for="estab_chosen">Estabelecimento:</label>
            <select name="estab_chosen" class="form-control" style="width: auto; margin-right: auto; margin-left: 0; background-color: grey; color: white">
                <option value="GT">GT</option>
                {% for opt in mirr_options %}
                <option value="{{ opt.contract_short }}">{{ opt.contract_short }}</option>
                {% endfor %}
            </select>
        <div>
        <br>
        <div class="form-group">
            <label for="year">Ano:</label>
            <select name="year" class="form-control" style="width: auto; margin-right: auto; margin-left: 0; background-color: grey; color: white">
                {% for year in years %}
                <option value="{{ year.year }}">{{ year.year }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <button class="form-control text-white fw-bold" style="background-color: rgb(49,39,131); width: auto; margin-right: auto; margin-left: 0;" type="submit">Gerar MIRR</button>
    <br>
</form>


<table id="tableId" style="width:100%">
    <thead>
        <tr>
            <th colspan="10">MIRR</th>
        </tr>
        <tr>
            <th>LER</th>
            <th>Qtd. p/Resíduo (Ton.)</th>
            <th>Destinatário</th>
            <th>NIF Dest.</th>
            <th>APA Dest.</th>
            <th>Operação</th>
            <th>Qtd. p/empresa (Ton.)</th>
            <th>Transportador</th>
            <th>NIF Transp.</th>
            <th>APA Transp.</th>
        </tr>
    </thead>
    <tbody>
        {% for row in mirr %}
        <tr>
            <td>{{ row.codLER }}</td>
            <td>{{ row.total | format_ton }}</td>
            <td>{{ row.dest }}</td>
            <td>{{ row.nif_dest }}</td>
            <td>{{ row.apa_dest }}</td>
            <td>{{ row.dest_final }}</td>
            <td>{{ row.subtotal | format_ton }}</td>
            <td>{{ row.transp }}</td>
            <td>{{ row.nif_transp }}</td>
            <td>{{ row.apa_transp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function exportTableToExcel(){
        const tableToExport = document.getElementById('tableId')
        const workbook = XLSX.utils.table_to_book(tableToExport);
        XLSX.writeFile(workbook,"MIRR_obra_xxxx_dd-mm-aaaa.xlsx");
    }
</script>

{% endblock %}