<!DOCTYPE html>

{% extends "layout.html" %}

{% block title %}
Operations
{% endblock %}

{% block main %}
<br>
<p class="display-6 text-center"> INSERIR OPERAÇÃO DE VALORIZAÇÃO/ELIMINAÇÃO</p>
<p class="display-8 text-center"> DESTINO FINAL</p>
<br>
<form action="/operation_description" method="post">
    <div class="row justify-content-center">
        <div class="col-auto">
            <input autocomplete="off" autofocus class="form-control text-center mx-auto" style="width: 400px; background-color:  rgb(46, 133, 192)"  name="operation" placeholder="Operação de valorização/eliminação - Destino Final"
            type="text">
        </div>
        <div class="col-auto">
            <input autocomplete="off" class="form-control text-center mx-auto" style="width: 1000px; background-color: rgb(46, 133, 192)"  name="description" placeholder="Descrição da operação de valorização/eliminação - Destino Final" type="text">
        </div>
    </div>
    <br>
    <button class="form-control text-white fw-bold mx-auto w-auto" style="background-color: rgb(49, 39, 131)" type="submit">Gravar</button>
    <br>
</form>

<table id="input_tables" style="width:100%">
    <thead>
        <tr>
            <th>Operação</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for row in all_operations %}
        <tr>
            <td>{{ row.operation }}</td>
            <td>{{ row.description }}</td>
            <td>
                <button class="delet_edit_bttn" style="background-color: tomato; color: whitesmoke" onclick="showConfirmDelete('{{ row.operation}}')">Apagar</button>
                <form id="deleteOp{{ row.operation }}" action="/delete" method="post" style="display: none;">
                    <div>
                        <input name="operation" type="hidden" value="{{ row.operation }}">
                    </div>
                    <br>
                    <p class="fw-bold text-danger text-center mx-auto"> Atenção, a ação será irreversível! </p>
                    <div>
                        <button type="submit" class="form-control text-white fw-bold text-center mx-auto bg-success"> Confirmar </button>
                    </div>
                    <br>
                    <div>
                        <button type="button" class="form-control text-white fw-bold text-center mx-auto bg-danger" onclick="hideConfirmDelete('{{ row.operation }}')"> Cancelar </button>
                    </div>
                    <br>
                </form>
            </td>
            <td>
                <button class="delet_edit_bttn" style="background-color: rgb(46, 133, 192); color: white" onclick="showEditForm('{{ row.operation }}')">Editar</button>
                <form id="showForm{{ row.operation }}" action="/edit_operation_description" method="post" style="display: none;">
                    <div>
                        <input name="antiga_operação" value="{{ row.operation }}" type = "hidden">
                    </div>
                    <br>
                    <div>
                        <input name="nova_operação" class="form-control text-center mx-auto" style="background-color: lightgrey; color: black" value="{{ row.operation }}" type = "text">
                    </div>
                    <div>
                        <input name="nova_descrição" class="form-control text-center mx-auto" style="background-color: lightgrey; color: black" value="{{ row.description }}" type = "text">
                    </div>
                    <br>
                    <button class="form-control text-white fw-bold mx-auto w-auto" style="background-color: rgb(49, 39, 131)" type="submit">Aplicar alterações</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>

    function showConfirmDelete(operation){
        var rowForDeleting = "deleteOp" + operation;
        var deletingForm = document.getElementById(rowForDeleting);
        if (deletingForm) {
            deletingForm.style.display = deletingForm.style.display === 'none' ? 'block' : 'none';
        }
    }

    function hideConfirmDelete(operation){
        document.getElementById("deleteOp" + operation).style.display = 'none';

    }

    function showEditForm(operation) {
        var rowForEdition = 'showForm' + operation;
        var editingForm = document.getElementById(rowForEdition);
        if (editingForm) {
            editingForm.style.display = editingForm.style.display === 'none' ? 'block' : 'none';
        }
    }
</script>

{% endblock %}