{% extends "layout.html" %}

{% block title %}
Operations
{% endblock %}

{% block main %}
<form action="/operation_description" method="post">
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="operation" placeholder="Operação de valorização/eliminação - Destino Final"
            type="text">
    </div>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="description"
            placeholder="Descrição da operação de valorização/eliminação " type="text">
    </div>
    <button type="submit">Gravar</button>
</form>

<h2>Operações de Valorização/Eliminação de Resíduos</h2>
<table style="width:100%">
    <thead>
        <tr>
            <th>Operação</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for row in all_operations %}
        <tr>
            <td>{{ row.operation }}</td>
            <td>{{ row.description }}</td>
            <td>
                <form action="/delete" method="post">
                    <div>
                        <input name="operation" type="hidden" value="{{ row.operation }}">
                    </div>
                    <div>
                        <input class="delete_button" type="submit" value="Apagar">
                    </div>
                </form>
            </td>
            <td>
                <button class="edit_button" onclick="showEditForm('{{ row.operation }}')">Editar</button>
                <form id="showForm{{ row.operation }}" action="/edit_operation_description" method="post" style="display: none;">
                    <div>
                        <input name="antiga_operação" value="{{ row.operation }}" type = "hidden">
                    </div>
                    <div>
                        <input name="nova_operação" value="{{ row.operation }}" type = "text">
                    </div>
                    <div>
                        <input name="nova_descrição" value="{{ row.description }}" type = "text">
                    </div>
                    <button type="submit">Aplicar alterações</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function showEditForm(operation) {
        var rowForEdition = 'showForm' + operation;
        var editingForm = document.getElementById(rowForEdition);
        if (editingForm) {
            editingForm.style.display = editingForm.style.display === 'none' ? 'block' : 'none';
        }
    }
</script>

{% endblock %}